{% include "head.html" %}
<body>
  {% include "header.html" %}

  <h2>Add person</h2>

  {% if email %}
  <p>
    That email address isn't registered on this instance, add your name below,
    click submit and you'll be able to see your page.
  </p>
  {% else %}
  <p>Welcome to matcher, lets get your page set up.</p>
  {% endif %}

  <form action="/person" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ name }}" required />
    <br />
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ email }}" required />
    <br />
    <button type="submit">Sign up</button>
  </form>
</body>
{% include "foot.html" %}
