<!doctype html>
<html>
  <head>
    <title>Matcher</title>
    <style>
      body {
        width: 600px;
        margin: auto;
        font-family: sans-serif;
      }

      h1 {
        display: inline;
      }

      nav {
        padding: 1em;
      }

      nav > a {
        padding: 1em;
      }

      nav {
        float: right;
      }

      table {
        width: 100%;
      }

      th {
        padding-right: 0.5em;
        text-align: left;
      }

      td {
        padding-right: 0.5em;
      }
    </style>
  </head>
</html>
