{% include "head.html" %}
<body>
  {% include "header.html" %}

  <p>Welcome to Matcher!</p>
  <p>Matcher works in rounds, pairing people together for a chat every time.</p>
  <p>You can sign up for the current matching round below with your email.</p>
  <p>If you have previously used this Matcher then it should find your information and you can just click to join.</p>

  <form action="/person" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <button type="submit">Sign in / up</button>
  </form>


</body>
</html>
