<!DOCTYPE html>
<html>
<head>
  <title>Matcher</title>
</head>
<body>
  <a href="/"><h1>Matcher</h1></a>

  <form method="post">
    <button type="submit">Trigger New Matching</button>
  </form>

  <h2>Current matches</h2>

  {% if match_generation %}
  Generation: {{ match_generation }}
  {% else %}
  No matchings have happened yet
  {% endif %}

  <table>
    <tr><th>Name</th><th>Email</th><th>Name</th><th>Email</th></tr>
    {% for match in matches %}
    <tr><td><a href="/person/{{ match.person1.id }}">{{ match.person1.name }}</a></td><td>{{ match.person1.email }}</td><td>{% if match.person2.name %}<a href="/person/{{ match.person2.id }}">{{ match.person2.name }}</a>{% endif %}</td><td>{{ match.person2.email | default(value="") }}</td></tr>
    {%- endfor %}
  </table>
</body>
</html>
