{% include "head.html" %}
<body>
  {% include "header.html" %}

  <h2>{{ name }} {% if id == authorized_person_id %} (You!) {% endif %}</h2>

  Email: <a href="mailto:{{ email }}">{{ email }}</a>
  <br />
  Waiting for matching: {% if waiting %}Yes{% else %}No{% endif %}

  <form action="/person/{{ id }}" method="post">
    <button type="submit">
      {% if waiting %}Leave{% else %}Join{% endif %} matching
    </button>
  </form>

  <h2>Match history</h2>

  {% if matches %}
  <ul>
    {% for match in matches %}
    <li>
      <a href="/matches/{{ match.0 }}">{{ match.0 }}</a>:
      <a href="/person/{{ match.1.id }}">{{ match.1.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %} No matches yet. {% endif %}
</body>
{% include "foot.html" %}
