{% include "head.html" %}
<body>
  {% include "header.html" %}

  {% if error %}
  <div class="error">{{ error }}</div>
  {% endif %}

  <h2>Sign in</h2>

  <form action="/sign_in" method="post">
    <table>
      <tr>
        <td>
    <label for="email">Email:</label>
        </td>
        <td>
    <input type="email" id="email" name="email" required />
        </td>
      </tr>
      <tr>
        <td>
    <label for="password">Password:</label>
        </td>
        <td>
    <input type="password" id="password" name="password" required />
        </td>
      </tr>
    </table>
    <button type="submit">Sign in</button>
  </form>
</body>
{% include "foot.html" %}
