{% include "head.html" %}
<body>
  {% include "header.html" %}

  <h2>Sign up</h2>

  <form action="/sign_up" method="post">
    <table>
      <tr>
        <td>
          <label for="email">Email:</label>
        </td>
        <td>
          <input
            type="email"
            id="email"
            name="email"
            value="{{ email }}"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password:</label>
        </td>
        <td>
          <input type="password" id="password" name="password" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="name">Name:</label>
        </td>
        <td>
          <input type="text" id="name" name="name" required />
        </td>
      </tr>
    </table>
    <button type="submit">Sign up</button>
  </form>
</body>
{% include "foot.html" %}
